// ----------------    MUST REMOVE gulpfile.js before running "meteor";   --------------------

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#heading {
  font-weight: bold;
}
#welcome {
  padding: 8px 0 0 8px;
}

//  ============= Variables ==============
$font:  'Press Start 2P';

html, body {
  background-color: #2F4F4F;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/-xh7YZjFDfJ0/VM3CEothxXI/AAAAAAAAADs/QTWBuypW5hI/s630-fcrop64=1,0d870000fd6fc8fb/pac_man_maze_wallpaper_by_spdy4-d6by9r5.png");
}

html, body, h1, h2, h3, h4, h5, h6 {
  text-align:center;
  font-family: $font;
  color:#0033FF;
}
h1 {
  height: 500px;
  margin: 50px;
  text-align: center;
  color: #000;
  margin-top: 50px;

  font-family: $font;
  padding-top: 50px;
}

#login {
  color: yellow;
}

//loginBut
#loginBut {
  padding-top: 100px;
  font-family: $font;
}

// ============= Top Nav =====================
//Welcome
header {
  background-color: #000;
  border-bottom: 4px solid #0033FF;

  h5 {
    display: inline-block;
    background-color: #000;
    float: left;
    font-size: 11px;
    margin-left: 10px;
    color: #0033FF;
  }
  h3 {
    font-family: $font;
    font-size: 25px;
    color: #FDFF0C;
    display: inline-block;
    background-color: #000;
    margin-left: 0 ;
  }
  a#login-name-link {
    color: #0033FF;
  }
}

// ============ Map Area ===============
.map-container {
  width: 100%;
  max-width: 100%;
  height: 800px;
  margin-top: 5%;
  border-radius: 25px;
  border: 7px solid #0033FF;
}
.row {
  height: 500px;
  margin-top: 20px;
}
#how-to {
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 10px;
  overflow: auto;
  height: 200px;
  border: 1px solid #0033FF;
  background-color: white;
  opacity: 0.8;
}
li {
  font-size: 10px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

// ================ Side-Nav ======================
 #score-table {
  margin-top: 3.5%;
 }
  #table {
    margin-top: 16%;
  }
  h4 {
    color: #FDFF0C;
  }
 #scoreboard {
  background-color: #F5F5DC;
  font-family: $font;
  font-size: auto;

  .player-name {
    color: #0033FF;
    font-size: 11px;
  }
  .player-pts {
    color: #FDFF0C;
    font-size: 11px;
  }
 }

// =============== Top Buttons ===============
.button {
  background-color: transparent;
  padding: 10px;
  font-family: $font;
  border: 3px solid #0033FF;
  font-size: 10px;
  color: #000;
    color: #FDFF0C;
  &:hover {
    background-color: transparent;
    color: #0033FF;
  }
}
#hover {
    padding-right: 10px;
  }
  h6 {
    text-align: right;
    font-size: 15px;
  }

// ============== Footer ====================
#borderimg {
  border: 15px solid transparent;
  padding: 15px;
  border-image-source: url("http://i57.tinypic.com/10xxape.gif");
  border-image-repeat: repeat;
}
#logos {
  padding-right: 15px;
}
footer.row {
  margin-top: 128px;
}
#footer-row {
  height: 128px;
}
p {
  font-size: 10px;
}

// ================ Active Games ===============

a.button.expand {
  padding: 10px;
  margin-top: 5%;
  display: inline-block;
  margin-bottom: 0%;
  width: 30%;
  margin-left: 36%;
}

// ============ Error 404 ==================
#error {
  color: blue;
  font-size: 20px;
}



/*========  pacman marquee =========*/
#backnforth.reverseAnimation {
    animation: back 10s 1;
    display: inline-block;
    position: relative;
    left: 50vw;
}

#backnforth {
    left: 0;
    position: relative;
    animation: forward 10s 1;
    margin-top: 35%;
}
.pacman.reverse {
    transform: scaleX(-1) scaleY(1);
}
@keyframes forward {
    from {
        left: 0px;
    }
    to {
        left: 80vw;
    }
}

@keyframes back {
    from {
        left: 80vw;
    }
    to {
        left: 0;
    }
}
#ghost1 {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_yellow-ghost.png");
}
#ghost2 {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_green-ghost.png");
}
#ghost3 {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_red-ghost.png");
}
#ghost4 {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_pink-ghost.png");
}
#ghost5 {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_orange-ghost.png");
}
#pacman {
    display:inline-block;
    background-size: cover;
    height: 50px;
    width: 50px;
    background-image: url("images/rsz_pacman.png");
}
.blueGhost {
    height: 50px;
    width: 50px;
    background-image: url("/public/images//public/images/rsz_blue-ghost.png") !important;
}
