<template name="baseLayout">
  <head>
  </head>
  <body>
    <a href="https://login.uber.com/oauth/v2/authorize?client_id=eVsjM4L5repfO6oBG3ibyFXZMbeRtx2F&response_type=code&scope=request%20profile">LINK</a>

    {{> yield}}
    <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.tooltip.js"></script>
    <!-- must link to CDN because version 5.5.3 has unexpected character when browser parses it -->
  </body>
</template>

<template name="login">
  <div id="loginDiv">
    <h2 id="login">Welcome to I SPY... {{> loginButtons}}</h2>
  </div>
</template>