<template name="baseLayout">
  <head>
  </head>
  <body>
    {{> yield}}
  </body>
</template>

<template name="login">
  <div id="loginDiv">
    <h2 id="login">Play Uber Pac-Man ... {{> loginButtons}}</h2>
  </div>
      <div id="backnforth">
      <span id="ghost1" class="ghost"></span>
      <span id="ghost2" class="ghost"></span>
      <span id="ghost3" class="ghost"></span>
      <span id="ghost4" class="ghost"></span>
      <span id="ghost5" class="ghost"></span>
      <span id="pacman" class="pacman"></span>
    </div>
</template>

<template name="404">
  <marquee direction="down" width="100%" height="100%" behavior="alternate" style="border:solid">
    <marquee behavior="alternate">
    <img src="http://i60.tinypic.com/2jozb.png">
    <div id="error">
      <p id="error">GAME NOT FOUND</p>
    </div>
    </marquee>
  </marquee>
</template>