<template name="baseLayout">
  <head>
  </head>
  <body>
    <a href="https://login.uber.com/oauth/v2/authorize?client_id=eVsjM4L5repfO6oBG3ibyFXZMbeRtx2F&response_type=code&scope=request%20profile">LINK</a>

    {{> yield}}
  </body>
</template>

<template name="login">
  <div id="loginDiv">
    <h2 id="login">Play Uber Pac-Man ... {{> loginButtons}}</h2>
  </div>
</template>

<template name="404">
  <marquee direction="down" width="100%" height="100%" behavior="alternate" style="border:solid">
    <marquee behavior="alternate">
    <img src="http://i60.tinypic.com/2jozb.png">
    <div id="error">
      <p id="error"> ERROR NOT FOUND</p>
    </div>
    </marquee>
  </marquee>
</template>