<template name="main">
  <!-- Welcome -->
    <header class="large-12 columns">
    <div class="large-4 columns">
      <h4 id="welcome">Welcome {{> loginButtons}}</h4>
    </div>
    <div class="large-4 columns">
      <h3 id="heading">Uber Pac-Man</h3>
    </div>
    <div class="large-4 columns">
      <h5><a href="/" id="quitGame">Quit Game</a></h5>
      <h5><a href="/" id="rideUber">Ride Uber</a></h5>
    </div>
    </header>

  <!-- MAP -->
  <div class="row">
    <div class="large-9 push-3 columns">
      <div class="map-container">
        {{> googleMap name="map" options=mapOptions}}
        <!-- googleMap is a template from dburles:google-maps -->
      </div>

      <div id="how-to">
          <u><b>Rules</b></u>
          <p id="rules">
          <li>
            Ghosts gains 1pt/ sec; Cafes are Fruit Bonuses (+60 pts)
          </li>
          <li>
            If Pac-Man is eaten, he becomes a Ghost but no pts are lost.
          </li>
          <li>
            If Ghost is eaten, he loses half his pts while Pac-Man gains those pts.
          </li>
          <li>
            Gas stations are Power-ups: can eat Ghosts for 5 mins
          </li>
          </p>
      </div>
    </div>
  <!-- LEFT SIDE -->
  <div class="large-3  pull-9 columns" id="score-table">

      <table id="scoreboard">
        <thead>
          <tr>
            <th width="100%">Player  Score</th>
            <!-- <th width="50%">Score</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            <ul id="playerList"><!-- LIST TO ADD PLAYERS -->
            </ul>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>

<!-- FOOTER -->
<footer class="row">
  <div class="large-12 columns">
  <hr/>
    <div class="row" id="footer-row">
      <div class="large-6 columns" id="footer-row">
        <p>
          <img src="http://i57.tinypic.com/10xxape.gif">
          <a href="https://github.com/franpham">© Francis</a>,
          <a href="https://github.com/ndunhourowens/">Naomi</a>,
          <a href="https://github.com/kasona">Kasi</a>,
          &amp; Andrew
          <img src="http://i57.tinypic.com/10xxape.gif">
        </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
        <a href="https://www.uber.com/" id="logos">
          <img src="http://i57.tinypic.com/2vmsk8x.png">
        </a>
          <a href="http://meteor-2015.devpost.com/" id="logos">
            <img src="http://i.imgsafe.org/96a43df.png"></a>
          <a href="https://github.com/franpham/ISpy" id="logos">
            <img src="http://i.imgsafe.org/48c6c8c.png"></a>
          <a href="http://www.devleague.com/" id="logos">
            <img src="http://i60.tinypic.com/dy97x1.png"></a>
        </ul>
      </div>
    </div>
  </div>
</footer>
</template>